@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: Jost, 'sans-serif';
}

nav{
  z-index: 10001, !important;

  @media (min-width: 1201px) {
    body {
      background-color: lightcoral;
  }
  }
}

